{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<div class="page-container">
  <div class="profile-card">

    <h2>{{ page_title }}</h2>
    
    <p>
      ポートフォリオ（作品集）のタイトルと概要説明を編集します。
    </p>

    <form method="post">
      {% csrf_token %}
      
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}
      {{ form.as_p }}
      
      <button type="submit">保存する</button>
    </form>

    <hr>
    
    {% if request.GET.next %}
      <a href="{{ request.GET.next }}" class="back-link">← 戻る</a>
      
    {% elif portfolio %}
      <a href="{% url 'portfolios:detail' portfolio.pk %}" class="back-link">← 作品管理に戻る</a>
      
    {% else %}
      <a href="{% url 'accounts:my_page' %}" class="back-link">← マイページに戻る</a>
    {% endif %}
    </div>
</div>
{% endblock %}